{% load static %}

<!doctype  html>
<html  lang="en">

<head>
  <title>BeyondMachines</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/icon/favicon.ico' %}"/>
  <!-- triggering an asynchronous stylesheet download
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" media="none" onload="if(media!='all')media='all'">
  <link rel="stylesheet" href="{% static 'css/all.min.css' %}" media="none" onload="if(media!='all')media='all'">
  -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/beyondmachines_css.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap-icons/bootstrap-icons.css' %}">
  <meta name="description" content="Build your team cybersecurity awareness and knowledge with brief, relevant and frequent content - right in Slack">

  <!--
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="">
  -->
</head>

<body>
<div class="container-fluid container-lg">
    <div class="row">
        <div class="col-12">
            {% block nav %}
                {% include 'general/navbar.html' %}
            {% endblock %}
        </div>
    </div>
</div>

<div class="container-fluid mt-5 container-lg">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                {% block breadcrumbs %}
                {% endblock %}
            </div>
        </div>
    {% block hero %}
    {% endblock %}

    {% block main %}
    {% endblock %}
    </div>
</div>

    <div class="row">
        <div class="col-12">
            {% block footer %}
                {% include 'general/footer.html' %}
            {% endblock %}
        </div>
    </div>




</body>
</html>
