
  .bg-custom-primary {
      background-color: #3d445f !important;
  }

  .bm-offset  {
    padding-top: 56px;
    margin-top: -56px;
  }

  .btn-custom-primary {
    color: #fff;
    background-color: #3d445f;
    border-color: #3d445f;
  }
  
  .btn-custom-primary:hover {
    color: #fff;
    background-color: #5B6382;
    border-color: #5B6382;
  }
  
  .btn-custom-primary:focus, .btn-custom-primary.focus {
    color: #fff;
    background-color: #5B6382;
    border-color: #5B6382;
    box-shadow: 0 0 0 0.2rem rgba(61, 68, 95, 0.5);
  }
  
  .btn-custom-primary.disabled, .btn-custom-primary:disabled {
    color: #fff;
    background-color: #777c8f;
    border-color: #777c8f;
  }
  
  .btn-custom-primary:not(:disabled):not(.disabled):active, .btn-custom-primary:not(:disabled):not(.disabled).active,
  .show > .btn-custom-primary.dropdown-toggle {
    color: #fff;
    background-color: #5B6382;
    border-color: #5B6382;
  }
  
  .btn-custom-primary:not(:disabled):not(.disabled):active:focus, .btn-custom-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-custom-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(61, 68, 95, 0.5);
  }

  .bg-twitter {
    background-color: #1DA1F2 !important;
}

.bg-linkedin {
  background-color: #0082ca !important;
}


.btn-outline-custom-primary {
  color: #3d445f;
  border-color: #3d445f;
}

.btn-outline-custom-primary:hover {
  color: #fff;
  background-color: #5B6382;
  border-color: #5B6382;
}

.btn-outline-custom-primary:focus, .btn-outline-custom-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(61, 68, 95, 0.5);
}

.btn-outline-custom-primary.disabled, .btn-outline-custom-primary:disabled {
  color: #5B6382;
  background-color: transparent;
}

.btn-outline-custom-primary:not(:disabled):not(.disabled):active, .btn-outline-custom-primary:not(:disabled):not(.disabled).active,
.show > .btn-utline-custom-primary.dropdown-toggle {
  color: #fff;
  background-color: #5B6382;
  border-color: #5B6382;
}

.btn-outline-custom-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-custom-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-custom-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(61, 68, 95, 0.5);
}
