{% load static %}
<div class="container">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
          <h1 class="display-4 fw-bold lh-1">How to start?</h1>
          <p class="lead">Start with our free general advisory and awareness program. </p>
          <p class="lead">Click to add the BeyondMachines App to your workspace. </p>
          <p class="lead">Leave the rest to us.</p>
          <p class="lead"></p>
        </div>
        <div class="col-lg-4 p-0">
            <div class="d-grid gap-2 d-md-flex justify-content-md-center mb-4 mb-lg-3">
                <a class="btn btn-custom-primary btn-lg px-4 me-md-2" href="{% url 'slack_install' %}"><em class="bi bi-slack"></em>
                  Add to Slack</a>
            </div>
        </div>
    </div>
    <div class="row p-4"></div>

  </div>