{% load static %}
<div class="container">
    <div class="row p-4">
        <div class="col-lg-7">
            <div class="card border-0">
                <div class="card-body">
                This is some text within a card body.
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card">
                <div class="card-body">
                This is some text within a card body.
                </div>
            </div>
        </div>
    </div>
    <div class="row p-4">
        <div class="col-lg-5">
            <div class="card border-0">
                <div class="card-body">
                This is some text within a card body.
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="card">
                <div class="card-body">
                This is some text within a card body.
                </div>
            </div>
        </div>
    </div>
    <div class="row p-4">
        <div class="col-lg-7">
            <div class="card border-0">
                <div class="card-body">
                This is some text within a card body.
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card">
                <div class="card-body">
                This is some text within a card body.
                </div>
            </div>
        </div>
    </div>
</div>
  