{% load static %}
<div class="container">
    <div class="row p-4">
        <div class="col-lg-7 col-12">
            <div id="feature-title" class="mb-5">
                <h2 class="fw-bold">
                    Beyondmachines keeps your eye on the ball
                </h2>
                <p class="lead">
                    With so many daily tasks, we all forget security and take small shortcuts that eventually snowball into a big problem.
                </p>    
            </div>
            <div id="feature-2" class="mb-4">
                <h4>
                    Continuous
                </h4>
                <p>
                    Keep the conversation going by delivering cybersecurity information as it happens, correlated with current real impact. 
                </p> 
            </div>
            <div id="feature-3" class="mb-4">
                <h4>
                    Simple
                </h4>
                <p>
                    Help your team understand cybersecurity risks with simple summary and personal context, not just raw numbers.
                </p>
            </div>
            <div id="feature-4" class="mb-4">
                <h4>
                    Applicable
                </h4>
                <p>
                    Make it easy for your team to do the right thing by focusing on one good practice at a time.
                </p>
            </div>
            <div id="feature-5" class="mb-4">
                <h4>
                    Get more done
                </h4>
                <p>
                    Leverage BeyondMachines as your force multiplier to continuously build cybersecurity knowledge while you focus on priority efforts.
                </p>
            </div>
        </div>
        <div class="col-lg-5 d-none d-lg-block align-self-center">
                <img src="{% static 'img/content/focus.png' %}" class="img-fluid rounded-start d-none d-lg-block p-5" alt="Keep your eye on the ball">      
        </div>
    </div>
</div>
  