{% load static %}
<div class="container">
    <hr>
    <div class="row p-4">
        <div id="how-works-title" class="mb-4">
            <h2 class="fw-bold">
                Beyondmachines just works
            </h2>
            <p class="lead">
                Our automated process has you covered. You can focus on other priorities. 
                <br>
                Jump in the conversation only if you want to further emphasize a topic.
            </p>    
        </div> 
        <div class="col-lg-3">
            <div class="card border-0 mb-5">
                    <div class="card-title">
                        <h4>
                            <em class="bi bi-boxes d-lg-none"></em>
                             Gather raw data
                        </h4>
                    </div>
                    <img src="{% static 'img/content/collect_information.png' %}" class="img-fluid rounded-start d-none d-lg-block" alt="...">
                    There are tens of cybersecurity events happening daily - incidents, vulnerabilities and trends. 
                    <br>
                    We collect them to understand the current state of play and the global risk posture companies are exposed to.
                </div>
        </div>
        <div class="col-lg-3">
            <div class="card border-0 mb-5">
                <div class="card-title">
                    <h4>
                        <em class="bi bi-funnel d-lg-none"></em>
                         Filter, make sense
                    </h4>
                </div>
                <img src="{% static 'img/content/filter_information.png' %}" class="img-fluid rounded-start d-none d-lg-block" alt="...">                
                We filter and correlate events to identify those which are relevant, and we try to understand the "Why" and "How" of the event.  
                <br>
                We select the applicable events worthy of attention and give context and human impact to them.
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card border-0 mb-5">
                <div class="card-title">
                    <h4>
                        <em class="bi bi-chat-right-text d-lg-none"></em>
                        Simple, clear information
                    </h4>
                </div>
                <img src="{% static 'img/content/summarize_information.png' %}" class="img-fluid rounded-start d-none d-lg-block" alt="...">                
                We provide information to you in simple and clear language, easy to understand regardless of technical skill.
                <br>
                We supplement information with clear action items.
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card border-0 mb-5">
                <div class="card-title">
                    <h4>
                        <em class="bi bi-info-square d-lg-none"></em>
                         Minimal noise
                    </h4>
                </div>
                <img src="{% static 'img/content/notification.png' %}" class="img-fluid rounded-start d-none d-lg-block" alt="...">                
                We notify you directly only in four cases - (i) a problem with us providing the service; (ii) an action that you need to take; (iii) a new feature that you can benefit from; (iv) summary report of our work for you
            </div>
        </div>
    </div>
</div>
  